.main-footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #00bcd4; /* Un color de acento */
}